html {
    box-sizing: border-box;
    font-size: 62.5%;/*1REM= 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

/*Globales*/
h1,h2,h3{
    font-family: 'Playfair Display', serif;
}
a {
    text-decoration: none;
    color:#000;
}




/* Header y Navegacion*/
.nombre-sitio{
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 4rem;
}

.nombre-sitio span {
    color:#037bc0;
}
.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
    font-size: 1.5rem;
}
.nav-principal{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.hero{
    background-image: url('../img/ImagenesEcommerce/principal.jpg');
    height: 55rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/*Aplicamos Grid a Categorias de productos*/

img{
    max-width: 100%; /*Ocupara el tamaño total del contenedor que lo contiene*/
    display: block;
}
.categorias h2{
    text-align: center;
}

.categoria a{
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover{
    background-color: #037bc0;
    color: #FFF;
    border-bottom-right-radius: 1rem;
   
}

.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

main{
    display:flex;
    flex-direction: column;
}
.nuestros-produsctos{
    text-align: center;
}
